<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
    }

    form {
      margin-bottom: 20px;
      text-align: center;
    }

    input[type="text"] {
      width: 400px;
      padding: 10px;
      font-size: 16px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #6f00ff;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    p {
      margin-bottom: 10px;
      text-align: center;
    }

    a {
      color: #4CAF50;
      text-decoration: none;
    }

    .save-button {
  
      padding: 8px 16px;
      font-size: 14px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      /* cursor: pointer;
      padding-left: 20px;
      margin-left: 1000px; */
    }

    .save-button:hover {
      background-color: #7700ff;
      text-align: center;
    }
    table{
        border: 1;
    }
  
  </style>
    <body>
        <!DOCTYPE html>
        <html>
        <head>
          <meta charset="utf-8">
          <title>URL Shortener</title>
        </head>
        <body>
          <h1>URL Shortener</h1>
        
          <!-- CSV file upload form -->
         <a href="/upload/upload">Upload a file </a>        
          <hr>
        
         
          <form action="/shorten" method="POST">
            <input type="text" name="longUrl" placeholder="Enter a URL" required>
            <button type="submit">Shorten</button>
          </form>
        
          <% if (urls && urls.length > 0) { %>
            <hr>
            <h1>Shortened URLs</h1>
            <table>
              <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
                <th>QR Code</th>
              </tr>
              <% urls.forEach(function(url) { %>
              <tr>
                <td><a href="<%= url.long_url %>"><%= url.long_url %></a></td>
                <td><a href="<%= url.long_url %>"><%= url.short_url %></a></td>

                <td><img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=<%= url.short_url %>"></td>
              </tr>
              <% }); %>
            </table>
        
            <button class="save-button" style="text-align: center;" onclick="downloadExcel()">Save Table to Excel</button>
        
            <script>
              function downloadExcel() {
                window.location.href = '/download-excel';
              }
            </script>
          <% } %>
        </body>
        </html>
        
        
    
      </html>
      
